*{
    text-align: center;
}

.columns{
    margin: 0 auto;
    max-width: 100%;
    margin: 30px;
}

.column img{
    max-width: 100px;
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: row;
}

.column2{
    margin-left: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }  

  input[type=text] {
    width: 80%;
    border-radius: 25px;
    border: 3px solid #d3d3d3;
    padding: 15px 10px 15px 10px;
    margin-bottom: 30px;
    text-align: left;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 20px 20px;
    background-image: url('../img/search_icon.webp');
    background-position: 98% 13px; 
    background-repeat: no-repeat;
  }

  input[type=text]:focus {
    border: 3px solid #8a8787;
  }

  input[type=text]::placeholder{
    text-align: none;
  }